# Python garbage
__pycache__/
*.pyc
.venv/
venv/
env/

# SQLMesh/dbt artifacts (folder cache hasil build)
.sqlmesh/
target/
dbt_packages/
logs/

# Data Files (Jangan upload data mentah bergiga-giga ke GitHub!)
*.csv
*.parquet
*.db
*.duckdb
*.xlsx

# Mac system file (kalau ada)
.DS_Store